<% if bookmarks.present? %>
  <% bookmarks.each do |bookmark| %>
    <div class="post-list mb-4">
      <%= link_to post_path(bookmark.post.id), class: "row" do %>
        <div class="post-text col-md-6 col-11 mx-auto">
          <p class="section">
            <%= bookmark.post.start_station_name %>駅
            －
            <%= bookmark.post.end_station_name %>駅
          </p>
          <p class="body">
            <%= safe_join(bookmark.post.body.split("\r"),tag(:br)) %>
          </p>
          <p class="caption">
            <% start_station_prefecture = Prefecture.find(bookmark.post.start_station_prefecture) %>
            <span><%= start_station_prefecture.name %></span>
            <% if bookmark.post.start_station_prefecture != bookmark.post.end_station_prefecture %>
              <% end_station_prefecture = Prefecture.find(bookmark.post.end_station_prefecture) %>
              <span><%= end_station_prefecture.name %></span>
            <% end %>
            <%= bookmark.post.line_name %>
          </p>
        </div>

        <div class="post-image col-md-6 col-12 mx-auto px-0">
          <% if bookmark.post.post_images.attached? %>
            <% if bookmark.post.post_images.length == 1 %>
              <%= image_tag bookmark.post.post_images[0].variant(resize_to_fill: [240, 160]).processed %>
            <% elsif bookmark.post.post_images.length == 2 %>
              <%= image_tag bookmark.post.post_images[0].variant(resize_to_fill: [119, 160]).processed %>
              <%= image_tag bookmark.post.post_images[1].variant(resize_to_fill: [119, 160]).processed %>
            <% elsif bookmark.post.post_images.length == 3 %>
              <%= image_tag bookmark.post.post_images[0].variant(resize_to_fill: [240, 80]).processed %>
              <%= image_tag bookmark.post.post_images[1].variant(resize_to_fill: [119, 80]).processed %>
              <%= image_tag bookmark.post.post_images[2].variant(resize_to_fill: [119, 80]).processed %>
            <% else %>
              <%= image_tag bookmark.post.post_images[0].variant(resize_to_fill: [119, 80]).processed %>
              <%= image_tag bookmark.post.post_images[1].variant(resize_to_fill: [119, 80]).processed %>
              <%= image_tag bookmark.post.post_images[2].variant(resize_to_fill: [119, 80]).processed %>
              <%= image_tag bookmark.post.post_images[3].variant(resize_to_fill: [119, 80]).processed %>
            <% end %>
          <% else %>
            <%= image_tag 'no_image', size: "240x160" %>
          <% end %>
        </div>
      <% end %>

      <div class="bookmark-button col-12 px-1">
        <p class="date">
          <i class="fas fa-map-marker-alt mr-1"></i>
          <%= bookmark.post.created_at.strftime('%Y/%m/%d %H:%M') %>
        </p>
        <div class="bookmark_buttons_<%= bookmark.post.id %>">
          <%= render partial: 'public/bookmarks/bookmark', locals: { post: bookmark.post } %>
        </div>
      </div>

    </div>
  <% end %>
  <div class="more">
    <button class="btn btn-light btn-sm mb-4 px-5">もっと見る</button>
  </div>
<% else %>
  <p class="text-center mt-4 mb-5">投稿がありません</p>
<% end %>