<div class="container">
  <div class="row">
    <div class="col-10 mx-auto my-5">
      <div id="map" style="height:500px; width:500px;"></div>
      <ul id="stationName"></ul>
    </div>
    <div class="col-10 mx-auto my-5">
      <p>選択中の区間</p>
      <p>
        <span id="startStationName"></span>　駅～
        <span id="endStationName"></span>　駅間
      </p>
      <%= form_with model: @post, url: posts_path, method: :post do |f| %>
        <%= f.hidden_field :user_id, :value => current_user.id %>

        <%= f.label :start_station, '駅１' %>
        <%= f.text_field :start_station, :id => "startStationCord", :value => @post.start_station %>
        <%= f.label :end_station, '駅２' %>
        <%= f.text_field :end_station, :id => "endStationCord", :value => @post.end_station %>

        <%= f.label :body, '投稿者コメント' %>
        <%= f.text_area :body %>
        <%= f.label :spot, '近くのおすすめスポット' %>
        <%= f.text_area :spot %>
        <%= f.submit 'この区間で登録' %>
      <% end %>
      <button id="resetButton">やりなおす</button>
    </div>
  </div>
</div>