<div class="container">
  <div class="row">
    <div class="col-10 mx-auto my-5">
      <h4>投稿詳細ページ</h4>
      <div id="map" style="height:500px; width:500px;"></div>
    </div>
    <div class="col-10 mx-auto my-4">
      <p>
        <span id="startStationName"></span>　駅～
        <span id="endStationName"></span>　駅間
      </p>
      <p id="LineName"></p>

      <%= form_with model: @post, url: posts_path, method: :post do |f| %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <div>
          <%= f.label :start_station, '駅コード１' %>
          <%= f.text_field :start_station, :id => "startStationCord",
          :value => @post.start_station  %>

          <%= f.label :start_station_prefecture, '都道府県コード１' %>
          <%= f.text_field :start_station_prefecture, :id => "startStationPrefecture" %>
        </div>

        <div>
          <%= f.label :end_station, '駅コード２' %>
          <%= f.text_field :end_station, :id => "endStationCord",
          :value => @post.end_station %>

          <%= f.label :end_station_prefecture, '都道府県コード２' %>
          <%= f.text_field :end_station_prefecture, :id => "endStationPrefecture" %>
        </div>

        <div>
          <%= f.label :line_code, '路線コード' %>
          <%= f.text_field :line_code, :id => "LineCord",
          :value => @post.line_code %>
        </div>

        <div>
          <%= f.label :body, '投稿者コメント' %>
          <%= f.text_area :body %>
        </div>

        <div>
          <%= f.label :time_zone, 'おすすめ時間帯' %>
          <%= f.text_area :time_zone %>
        </div>

        <div>
          <%= f.label :spot, '近くのおすすめスポット' %>
          <%= f.text_area :spot %>
        </div>

        <%= f.submit 'この内容で登録', class: "btn btn-success px-4" %>
      <% end %>
      <%= link_to '区間選択にもどる', new_post_path, class: "btn btn-secondary px-4" %>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'detail' %>