<div class="container-fluid public px-0">
  <div class="row mx-auto">
    <div class="input-container-edit col-sm-10 col-11 mx-auto mb-3 pb-3">
      <h5 class="heading mt-4">新しい投稿</h5>

      <div class="row selected-section-edit py-4">
        <p class="col-11 station-name text-center mx-auto">
          <span id="startStationName"></span>
          <span class="ml-3">駅</span>
          <span class="mx-2">↔</span>
          <span id="endStationName"></span>
          <span class="ml-3">駅</span>
        </p>
        <p class="col-11 line-name text-center mb-3 mx-auto">
          <span id="LineName"></span>
        </p>
        <div id="map-detail" class="col-11 mx-auto"></div>
        <p class="col-12 line-name text-center my-2 mx-auto">
          <small>
            <strong>【 異なる場所（東京駅周辺）が表示される場合 】</strong></br>
            駅または路線データが正しく登録されていません。</br>
            お手数ですが ↓のボタンから、もう一度区間選択をお願いします。
          </small>
        </p>
        <%= link_to '区間選択に戻る', new_post_path,
          class: "btn btn-sm btn-back col-11 mx-auto mb-3" %>
      </div>

        <%= form_with model: @post, url: posts_path, method: :post, class: "row" do |f| %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <%= f.hidden_field :start_station, :id => "startStationCord" %>
          <%= f.hidden_field :end_station, :id => "endStationCord" %>
          <%= f.hidden_field :start_station_name, :id => "startStationNameInput" %>
          <%= f.hidden_field :end_station_name, :id => "endStationNameInput" %>
          <%= f.hidden_field :start_station_prefecture, :id => "startStationPrefecture" %>
          <%= f.hidden_field :end_station_prefecture, :id => "endStationPrefecture" %>
          <%= f.hidden_field :latitude, :id => "startStationLatitude" %>
          <%= f.hidden_field :longitude, :id => "startStationLongitude" %>
          <%= f.hidden_field :line_code, :id => "LineCord" %>
          <%= f.hidden_field :line_name, :id => "lineNameInput" %>

          <div class="imput-group-sm mb-3 col-11 mx-auto">
            <label class="label-sm col-12">
              <span class="presence-optional">任意</span>
              画像を登録
            </label>
            <%= f.file_field :post_images, multiple: true, accept: "image/*",
            class: "file-sm col-12" %>
          </div>

          <div class="imput-group-sm mt-3 col-11 mx-auto text-danger">
            <% if @post.errors.any? %>
              <p class="col-12 mb-2"><strong>登録エラー</strong></p>
              <ul class="col-12 pl-3">
                <% @post.errors.full_messages.each do |message| %>
                  <li>
                    <i class="fas fa-exclamation-circle mr-1"></i>
                    <%= message %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </div>

          <div class="imput-group-sm mb-3 col-11 mx-auto">
            <label class="label-sm col-12">
              <span class="presence-required">必須</span>
              投稿者コメント
              <small>（ <span id="counter-body">0</span> / 200文字）</small>
            </label>
            <%= f.text_area :body, class: "form-control", id: "input-body" %>
          </div>

          <div class="imput-group-sm mb-3 col-11 mx-auto">
            <label class="label-sm col-12">
              <span class="presence-optional">任意</span>
              おすすめ時間帯
              <small>（ <span id="counter-timezone">0</span> / 200文字）</small>
            </label>
            <%= f.text_area :time_zone, class: "form-control", id: "input-timezone" %>
          </div>

          <div class="imput-group-sm mb-3 col-11 mx-auto">
            <label class="label-sm col-12">
              <span class="presence-optional">任意</span>
              近くのおすすめスポット
              <small>（ <span id="counter-spot">0</span> / 200文字）</small>
            </label>
            <%= f.text_area :spot, class: "form-control", id: "input-spot" %>
          </div>

          <div class="imput-group-sm mb-3 col-11 mx-auto">
            <%= f.submit 'この内容で登録',
            class: "btn btn-sm btn-accent my-3", :style => "width:100%" %>
            <%= link_to '登録をやめる', new_post_path,
            class: "btn btn-sm btn-back", :style => "width:100%" %>
          </div>
        <% end %>

    </div>
  </div>
</div>

<%= javascript_pack_tag 'detail' %>