<div class="container">
  <div class="row">
    <div class="col-lg-10 col-md-10 col-10 mx-auto bg-light my-5 pt-5"
    style="max-width: 500px;">

      <h5 class="mb-4 text-center">投稿を編集</h5>

      <div class="row selected-section mb-3">
        <p class="col-5 station-name text-center">
          <span id="startStationName"></span>　駅
        </p>
        <p class="col-2 text-center">↔</p>
        <p class="col-5 station-name text-center">
          <span id="endStationName"></span>　駅
        </p>
        <p class="col-12 line-name text-center">
          <span id="LineName"></span>
        </p>
      </div>

      <div class="col-10 mx-auto px-0">
        <%= form_with model: @post, url: post_path(@post.id), method: :patch do |f| %>

          <div>
            <%= f.hidden_field :start_station, :id => "startStationCord" %>
            <%= f.hidden_field :end_station, :id => "endStationCord" %>
            <%= f.hidden_field :line_code, :id => "LineCord" %>
          </div>

          <div class="row input-group-sm mb-3">
            <%= f.label :post_images, '画像の追加／削除', class: "label-control col-12" %>
            <%= f.label :post_images, '新しい画像', class: "label-control col-12" %>
            <%= f.file_field :post_images, multiple: true, accept: "image/*", class: "file-control col-12" %>

            <label class="label-control my-3 col-12">登録済みの画像</label>
            <div class="post-contents col-12">
              <% if @post.post_images.attached? %>
                <% @post.post_images.each do |image| %>
                  <div class="image-list">
                    <div class="d-flex align-items-center">
                      <%= f.check_box :image_ids, { multiple: true }, image.id, false %>
                      <label for="post_image_ids_<%= image.id %>">この画像を削除</label>
                    </div>
                    <label for="post_image_ids_<%= image.id %>">
                      <%= image_tag image.variant(resize_to_fill: [150, 100]).processed %>
                    </label>
                  </div>
                <% end %>
              <% else %>
                <p class="message my-2">画像が登録されていません</p>
              <% end %>
            </div>
          </div>

          <div class="row input-group-sm mb-3">
            <%= f.label :body, '投稿者コメント', class: "label-control col-12" %>
            <%= f.text_area :body, class: "form-control col-12" %>
          </div>

          <div class="row input-group-sm mb-3">
            <%= f.label :time_zone, 'おすすめ時間帯', class: "label-control col-12" %>
            <%= f.text_area :time_zone, class: "form-control col-12" %>
          </div>

          <div class="row input-group-sm mb-4">
            <%= f.label :spot, '近くのおすすめスポット', class: "label-control col-12" %>
            <%= f.text_area :spot, class: "form-control col-12" %>
          </div>

          <div class="row input-group-sm mb-5">
            <%= link_to '変更せずもどる', post_path(@post.id), class: "btn btn-sm btn-secondary px-4 mr-3" %>
            <%= f.submit '変更を保存', class: "btn btn-sm btn-success px-4 mr-3" %>
          </div>
        <% end %>
      </div>

      <div class="row">
        <div class="col-11 mx-auto mb-3">
          <div id="map" style="height:300px; width:100%;"></div>
        </div>

        <div class="col-11 mx-auto mb-3 text-right">
          <p class="message pr-1">
            <%= link_to 'この投稿を削除', post_path(@post.id), method: :delete,
            data: {confirm: "削除した投稿は元に戻せません。本当にこの投稿を削除しますか？"} %>
          </p>
        </div>
      </div>

    </div>
  </div>
</div>

<%= javascript_pack_tag 'detail' %>