<div class="container-fluid public px-0">
  <div class="row mx-auto" style="max-width:600px">
    <div class="input-container-edit col-sm-10 col-11 mx-auto my-5 py-4">
      <h5 class="my-4 text-center">投稿を編集</h5>

      <div class="row selected-section-edit py-4">
        <p class="col-12 station-name text-center">
          <%= @post.start_station_name %>駅
          <span class="mx-2">↔</span>
          <%= @post.end_station_name %>駅
        </p>
        <p class="col-12 line-name text-center">
          <%= @post.line_name %>
        </p>
      </div>

      <div class="col-10 mx-auto px-0">
        <%= form_with model: @post, url: post_path(@post.id), method: :patch do |f| %>

          <div>
            <%= f.hidden_field :start_station, :id => "startStationCord" %>
            <%= f.hidden_field :end_station, :id => "endStationCord" %>
            <%= f.hidden_field :line_code, :id => "LineCord" %>
          </div>

          <div class="row input-group-sm mb-3">
            <%= f.label :post_images, '画像の追加／削除', class: "label-sm col-12 mb-3" %>
            <%= f.label :post_images, '新しい画像', class: "label-sm col-12" %>
            <%= f.file_field :post_images, multiple: true, accept: "image/*", class: "file-sm col-12" %>

            <label class="label-sm my-3 col-12">登録済みの画像</label>
            <div class="post-contents col-12 mb-3">
              <% if @post.post_images.attached? %>
                <% @post.post_images.each do |image| %>
                  <div class="image-list">
                    <div class="d-flex align-items-center">
                      <%= f.check_box :image_ids, { multiple: true }, image.id, false %>
                      <label for="post_image_ids_<%= image.id %>">この画像を削除</label>
                    </div>
                    <label for="post_image_ids_<%= image.id %>">
                      <%= image_tag image.variant(resize_to_fill: [150, 100]).processed %>
                    </label>
                  </div>
                <% end %>
              <% else %>
                <p class="message my-2">画像が登録されていません</p>
              <% end %>
            </div>
          </div>

          <div class="row input-group-sm text-danger">
            <% if @post.errors.any? %>
              <p class="col-12 mb-2"><strong>登録エラー</strong></p>
              <ul class="col-12 pl-3">
                <% @post.errors.full_messages.each do |message| %>
                  <li>
                    <i class="fas fa-exclamation-circle mr-1"></i>
                    <%= message %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </div>

          <div class="row input-group-sm mb-3">
            <label class="label-sm col-12">
              <span class="presence-required">必須</span>
              投稿者コメント
              <small>（ <span id="counter-body">0</span> / 200文字）</small>
            </label>
            <%= f.text_area :body, class: "form-control col-12", id: "input-body" %>
          </div>

          <div class="row input-group-sm mb-3">
            <label class="label-sm col-12">
              <span class="presence-optional">任意</span>
              おすすめ時間帯
              <small>（ <span id="counter-timezone">0</span> / 200文字）</small>
            </label>
            <%= f.text_area :time_zone, class: "form-control col-12", id: "input-timezone" %>
          </div>

          <div class="row input-group-sm mb-4">
            <label class="label-sm col-12">
              <span class="presence-optional">任意</span>
              近くのおすすめスポット
              <small>（ <span id="counter-spot">0</span> / 200文字）</small>
            </label>
            <%= f.text_area :spot, class: "form-control col-12", id: "input-spot" %>
          </div>

          <div class="row input-group-sm mb-5">
            <%= f.submit '変更を保存',
            class: "btn btn-sm btn-accent mb-3 col-12" %>
            <%= link_to '変更せずもどる', post_path(@post.id),
            class: "btn btn-sm btn-back col-12" %>
          </div>
        <% end %>
      </div>

      <div class="row">
        <div class="col-11 mx-auto mb-3">
          <div id="map" style="height:300px; width:100%;"></div>
        </div>

        <div class="col-11 mx-auto mb-3 text-right">
          <p class="message pr-1">
            <%= link_to post_path(@post.id), method: :delete,
            data: {confirm: "削除した投稿は元に戻せません。本当に削除しますか？"} do %>
             <i class="fas fa-trash-alt"></i>
             この投稿を削除
            <% end %>
          </p>
        </div>
      </div>

    </div>
  </div>
</div>

<%= javascript_pack_tag 'detail' %>