<div class="container-fluid public">
  <div class="row mx-auto pb-3" style="max-width:1200px">
    <div class="col-lg-3 col-12 px-1 pb-2">
      <div class="map-container area-list pt-4 pb-1 text-center">
        <h5 class="mb-4">エリアからさがす</h5>
        <div class="row">
          <div class="col-lg-7 col-md-8 col-sm-10 col-11 mx-auto">
            <div class="area-name"><%= link_to '北海道', search_area_path(1) %></div>
            <div class="area-name"><%= link_to '東北', search_area_path(2) %></div>
            <div class="area-name"><%= link_to '関東', search_area_path(3) %></div>
            <div class="area-name-long"><%= link_to '中央・北陸・東海', search_area_path(4) %></div>
          </div>
          <div class="col-lg-7 col-md-8 col-sm-10 col-11 mx-auto">
            <div class="area-name"><%= link_to '近畿', search_area_path(5) %></div>
            <div class="area-name"><%= link_to '中国', search_area_path(6) %></div>
            <div class="area-name"><%= link_to '四国', search_area_path(7) %></div>
            <div class="area-name-long"><%= link_to '九州・沖縄', search_area_path(8) %></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-9 col-12 px-1 pb-2">
      <div class="map-container pt-4 pb-3 px-3 text-center">
        <h5 class="mb-4">路線図からさがす</h5>
        <div id="map-index"></div>
      </div>
    </div>
    <div>
      <div id="mapPosts" data-posts="<%= @map_posts.to_json %>"></div>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'index' %>
