<div class="container-fluid public">
  <div class="row mx-auto" style="max-width:1000px">
    <div class="map-container col-md-10 col-12 mx-auto mb-3 pb-3 text-center">
      <h5 class="heading mt-4">新しい投稿</h5>

      <div class="selected-section row col-sm-10 col-12 mx-auto px-4">
        <p class="col-12">
          投稿する区間を選択してください
          <button id="modal-new-open" class="btn btn-sm btn-light py-0 mx-3">
            <i class="far fa-question-circle mr-1"></i>
            操作方法
          </button>
        </p>
        <p class="station-name-select col-md-5 col-12 mx-auto my-1 px-3 py-1">
          <span id="startStationName"></span>　駅
        </p>
        <p class="col-md-2 col-1 mx-auto my-1 py-1">↔</p>
        <p class="station-name-select col-md-5 col-11 mx-auto my-1 px-3 py-1">
          <span id="endStationName"></span>　駅
        </p>
        <p class="col-12 line-name">
          <span id="LineName"></span>
        </p>
      </div>

      <div class="d-inline-block">
        <%= form_with model: @post, url: posts_detail_path do |f| %>
          <%= f.hidden_field :start_station, :id => "startStationCord" %>
          <%= f.hidden_field :end_station, :id => "endStationCord" %>
          <%= f.hidden_field :start_station_name, :id => "startStationNameInput" %>
          <%= f.hidden_field :end_station_name, :id => "endStationNameInput" %>
          <%= f.hidden_field :start_station_prefecture, :id => "startStationPrefecture" %>
          <%= f.hidden_field :end_station_prefecture, :id => "endStationPrefecture" %>
          <%= f.hidden_field :latitude, :id => "startStationLatitude" %>
          <%= f.hidden_field :longitude, :id => "startStationLongitude" %>
          <%= f.hidden_field :line_code, :id => "LineCord" %>
          <%= f.hidden_field :line_name, :id => "LineNameInput" %>
          <div id="submitBtn" class="px-0">
            <button disabled class="btn btn-sm btn-accent px-4 my-1">選択されていません</button>
          </div>
        <% end %>
      </div>
      <button id="resetButton" class="btn btn-sm btn-back px-4 my-1">選択を解除</button>

      <div id="map-new" class="mt-2"></div>

    </div>
  </div>
</div>

<%= javascript_pack_tag 'new' %>