<div class="container-fluid public">
  <div class="row">
    <div class="post-container col-md-11 col-sm-10 col-11 mx-auto mb-3">

      <div class="row mt-3">
        <div class="col-11 mx-auto my-3 d-flex align-items-center">
          <div class="d-inline-block">
            <% if @user.user_image.attached? %>
              <%= image_tag @user.user_image.variant(resize_to_fill: [80, 80]).processed,
              class: "rounded-circle mx-2" %>
            <% else %>
              <%= image_tag 'user', class: "rounded-circle mx-2", size: "80x80" %>
            <% end %>
          </div>
          <div class="d-inline-block ml-3">
            <h5 class="my-2"><%= @user.name %></h5>
            <div class="follow_buttons_<%= @user.id %> ml-1">
              <%= render partial: 'public/follows/follow', locals: { user: @user } %>
            </div>

          </div>
        </div>

        <h5 class="heading col-12 mt-3">
          投稿一覧
        </h5>

        <div id="tab-menu" class="col-12 text-center mt-4">
          <a href="#tab1" class="active mx-2">人気順</a>
          <span>|</span>
          <a href="#tab2" class="mx-2">新着順</a>
        </div>

        <div id="tab-contents"
        class="col-lg-10 col-md-11 col-sm-8 col-10 mx-auto mt-4 px-0 text-center">
          <div id="tab1" class="tab px-0">
            <%= render partial: 'tab', locals: { posts: @popular_posts} %>
            <div class="pagination-container">
              <%= paginate @popular_posts %>
            </div>
          </div>
          <div id="tab2" class="tab px-0">
            <%= render partial: 'tab', locals: { posts: @new_posts} %>
            <div class="pagination-container">
              <%= paginate @new_posts %>
            </div>
          </div>
        </div>

    </div>
  </div>
</div>

<%= javascript_pack_tag 'tab' %>