<div class="container-fluid public">
  <div class="row mx-auto" style="max-width:800px">
    <div class="map-container col-sm-10 col-12 mx-auto mt-5">
      <h4 class="mt-5 mb-3 text-center">
        <%= @area_name %> エリアの投稿一覧
      </h4>

      <div class="row pt-0 mt-0 my-3">
        <div class="col-12 text-center">
    　　    <% if @area_name != "北海道" %>
            <h5 class="mb-3">都道府県でさがす</h5>
            <% @prefectures.each do |prefecture| %>
              <%= link_to search_prefecture_path(prefecture.id),
              class: "prefecture-list mx-2" do %>
                <%= prefecture.name %>
              <% end %>
            <% end %>
          <% end %>
        </div>

        <div id="tab-menu" class="col-12 text-center mt-4">
          <a href="#tab1" class="active mx-2">人気順</a>
          <span>|</span>
          <a href="#tab2" class="mx-2">新着順</a>
        </div>

        <div id="tab-contents" class="col-lg-11 col-md-8 col-sm-8 col-10 mx-auto my-4 px-0">
          <div id="tab1" class="tab px-0">
            <%= render partial: 'tab', locals: { posts: @popular_posts} %>
          </div>
          <div id="tab2" class="tab px-0">
            <%= render partial: 'tab', locals: { posts: @new_posts} %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<%= javascript_pack_tag 'tab' %>