<div class="container-fluid public">
  <div class="row mx-auto">
    <div class="post-container col-sm-10 col-12 mx-auto mb-3">
      <h5 class="mt-5 mb-3 text-center">
        <%= @prefecture.name %> の投稿一覧
      </h5>

      <div class="row pt-0 mt-0 my-3">
        <div class="col-12 text-center">
          <%= link_to 'エリア検索に戻る', search_area_path(@area_id) %>
        </div>

        <div id="tab-menu" class="col-12 text-center mt-4">
          <a href="#tab1" class="active mx-2">人気順</a>
          <span>|</span>
          <a href="#tab2" class="mx-2">新着順</a>
        </div>

        <div id="tab-contents" class="col-lg-11 col-md-8 col-sm-8 col-10 mx-auto mt-4 px-0">
          <div id="tab1" class="tab px-0">
            <%= render partial: 'tab', locals: { posts: @popular_posts} %>
          </div>
          <div id="tab2" class="tab px-0">
            <%= render partial: 'tab', locals: { posts: @new_posts} %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<%= javascript_pack_tag 'tab' %>