<div class="container-fluid public">
  <div class="row mx-auto">
    <div class="input-container col-sm-10 col-12 mx-auto mb-3 py-4">

      <div class="selected-section row mb-3">
        <p class="station-name col-12">
          <%= @post.start_station_name %>駅
          <span class="mx-2">↔</span>
          <%= @post.end_station_name %>駅
        </p>
        <p class="line-name col-12">
          <%= @post.line_name %>
        </p>
      </div>

      <div class="row">
        <input type="hidden" id="startStationCord" value="<%= @post.start_station %>">
        <input type="hidden" id="endStationCord" value="<%= @post.end_station %>">
        <input type="hidden" id="LineCord" value="<%= @post.line_code %>">

        <% if @post.post_images.attached? %>
          <% if @post.post_images.length != 1 %>
            <div class="post-slide col-md-8 col-sm-9 col-12 mx-auto px-0">
              <div class="swiper-container-cover row mb-5">
                <div class="swiper-container col-12">
                  <ul class="swiper-wrapper">
                    <% @post.post_images.each do |image| %>
                      <li class="swiper-slide">
                        <%= image_tag image.variant(resize_to_fill: [300, 200]).processed %>
                      </li>
                    <% end %>
                  </ul>
                  <div class="swiper-button-prev"></div>
                  <div class="swiper-button-next"></div>
                </div>
                <div class="swiper-pagination col-12 px-0"></div>
              </div>
            </div>
          <% else %>
            <div class="col-12 mb-4 px-0 text-center">
              <% @post.post_images.each do |image| %>
                <%= image_tag image.variant(resize_to_fill: [300, 200]).processed %>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <div class="col-12 mb-4 px-0 text-center">
            <%= image_tag asset_path('section-click01.png'), size: "300x200" %>
          </div>
        <% end %>

        <div class="col-sm-11 col-12 mx-auto mb-3 pr-5">
          <% if @user.is_deleted == false %>
            <% if user_signed_in? %>
              <%= link_to search_user_path(@user.id) do %>
                <% if @user.user_image.attached? %>
                  <%= image_tag @user.user_image.variant(resize_to_fill: [40, 40]).processed,
                  class: "rounded-circle mx-2" %>
                <% else %>
                  <%= image_tag asset_path('user.png'), class: "rounded-circle mx-2", size: "40x40" %>
                <% end %>
                <%= @user.name %>
              <% end %>
            <% else %>
              <a href="javascript:void(0)" class="modal-open">
                <% if @user.user_image.attached? %>
                  <%= image_tag @user.user_image.variant(resize_to_fill: [40, 40]).processed,
                  class: "rounded-circle mx-2" %>
                <% else %>
                  <%= image_tag asset_path('user.png'), class: "rounded-circle mx-2", size: "40x40" %>
                <% end %>
                <%= @user.name %>
              </a>
            <% end %>
          <% else %>
            <%= image_tag asset_path('user.png'), class: "rounded-circle mx-2", size: "40x40" %>
            <small>退会済みのユーザー</small>
          <% end %>
        </div>

        <div class="col-sm-11 col-12 mx-auto mb-3">
          <p class="post-heading">投稿者コメント</p>
          <div class="post-contents">
            <%= safe_join(@post.body.split("\r"),tag(:br)) %>
          </div>
        </div>

        <div class="col-sm-11 col-12 mx-auto mb-3">
          <p class="post-heading">おすすめ時間帯</p>
          <div class="post-contents">
            <%= safe_join(@post.time_zone.split("\r"),tag(:br)) %>
          </div>
        </div>

        <div class="col-sm-11 col-12 mx-auto mb-3">
          <p class="post-heading">周辺のおすすめスポット</p>
          <div class="post-contents">
            <%= safe_join(@post.spot.split("\r"),tag(:br)) %>
          </div>
        </div>

        <div class="col-sm-11 col-12 mx-auto mb-4 text-right">
          <p class="date">
            <i class="fas fa-map-marker-alt mr-1"></i>
            <%= @post.created_at.strftime('%Y/%m/%d %H:%M') %>
            <i class="far fa-edit ml-3 mr-1"></i>
            <%= @post.updated_at.strftime('%Y/%m/%d %H:%M') %>
          </p>
        </div>

        <div class="col-sm-11 col-12 mx-auto mb-4 text-right">
          <div class="bookmark_buttons_<%= @post.id %>">
            <%= render partial: 'public/bookmarks/bookmark', locals: { post: @post } %>
          </div>
        </div>

        <div class="col-sm-11 col-12 mx-auto mb-3">
          <div id="map-show"></div>
        </div>

        <div class="col-sm-11 col-12 mx-auto mb-3 text-right">
          <% if user_signed_in? %>
            <% if @post.user_id == current_user.id %>
              <p class="message mb-2">
                <%= link_to edit_post_path(@post.id) do %>
                  <i class="fas fa-edit"></i>
                  投稿内容を編集
                <% end %>
              </p>
              <p class="message">
                <%= link_to post_path(@post.id), method: :delete,
                data: {confirm: "削除した投稿は元に戻せません。本当に削除しますか？"} do %>
                  <i class="fas fa-trash-alt"></i>
                  この投稿を削除
                <% end %>
              </p>
            <% end %>
          <% end %>
        </div>

        <div class="col-sm-11 col-12 mx-auto mb-3">
          <% if @comments.present? %>
            <p class="comment-heading py-3">
              コメント一覧
              <small>（全 <%= @comments.count %> 件）</small>
            </p>
            <% @comments.each do |comment| %>
              <div class="comment-box row mx-auto py-1">
                <p class="col-12 my-2"><%= safe_join(comment.text.split("\r"),tag(:br)) %></p>
                <p class="col-4 px-0 text-right">
                  <% if @user.is_deleted == false %>
                    <%= comment.user.name %>
                  <% else %>
                    <small>退会済みのユーザー</small>
                  <% end %>
                </p>
                <p class="date-sm col-6 px-0">
                  <%= comment.created_at.strftime('%Y/%m/%d %H:%M') %>
                </p>
                <div class="good_buttons_<%= comment.id %> col-2 px-0 text-right">
                  <%= render partial: 'public/goods/good', locals: { post: @post, comment: comment } %>
                </div>
                <p class="date-sm col-12">
                  <% if user_signed_in? %>
                    <% if comment.user_id == current_user.id %>
                      <%= link_to 'コメントを削除', post_comment_path(@post.id, comment.id), method: :delete,
                      data: {confirm: "削除したコメントは元に戻せません。本当にこのコメントを削除しますか？"} %>
                    <% end %>
                  <% end %>
                </p>
              </div>
            <% end %>
          <% else %>
            <p>
              コメント一覧
              <small>（全 0 件）</small>
            </p>
            <p class="message my-2">この投稿へのコメントはありません</p>
          <% end %>
        </div>

        <div class="col-sm-11 col-12 mx-auto" id="comment-form">
          <% if user_signed_in? %>
            <p class="mt-3">
              コメントを投稿
            </p>
            <%= form_with model: @new_comment,
            url: post_comments_path(@post.id, anchor: 'comment-form'),
            method: :post do |f| %>
              <% if @new_comment.errors.any? %>
                <div class="input-group-sm text-danger">
                    <ul class="col-12 mt-2 mb-0">
                      <% @new_comment.errors.full_messages.each do |message| %>
                        <li>
                          <i class="fas fa-exclamation-circle mr-1"></i>
                          <%= message %>
                        </li>
                      <% end %>
                    </ul>
                </div>
              <% end %>
              <p class="text-right">
                <small>（ <span id="counter-comment">0</span> / 150文字）</small>
              </p>
              <div class="input-group-sm">
                <%= f.text_area :text, class: "form-control", id: "input-comment" %>
                <%= f.submit 'コメントを投稿', class: "btn btn-sm btn-main col-12 my-3" %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>

<%= javascript_pack_tag 'show' %>