<div class="container">
  <div class="row">
    <div class="col-lg-10 col-md-10 col-10 mx-auto bg-light my-5 pt-5"
    style="max-width: 500px;">
      <div class="row selected-section mb-3">
        <p class="col-5 station-name text-center">
          <%= @post.start_station_name %>　駅
        </p>
        <p class="col-2 text-center">↔</p>
        <p class="col-5 station-name text-center">
          <%= @post.end_station_name %>　駅
        </p>
        <p class="col-12 line-name text-center">
          <%= @post.line_name %>
        </p>
      </div>

      <div class="row">
        <input type="hidden" id="startStationCord" value="<%= @post.start_station %>">
        <input type="hidden" id="endStationCord" value="<%= @post.end_station %>">
        <input type="hidden" id="LineCord" value="<%= @post.line_code %>">

        <% if @post.post_images.attached? %>
          <% if @post.post_images.length != 1 %>
            <div class="col-12 post-slide">
              <div class="row swiper-container-cover text-center mb-5">
                <div class="col-12 swiper-container">
                  <ul class="swiper-wrapper">
                    <% @post.post_images.each do |image| %>
                      <li class="swiper-slide"><%= image_tag image.variant(resize_to_fill: [300, 200]).processed %></li>
                    <% end %>
                  </ul>
                  <div class="swiper-button-prev"></div>
                  <div class="swiper-button-next"></div>
                </div>
                <div class="col-12 swiper-pagination text-center px-0"></div>
              </div>
            </div>
          <% else %>
            <div class="col-12 text-center mb-4">
              <% @post.post_images.each do |image| %>
                <%= image_tag image.variant(resize_to_fill: [300, 200]).processed %>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <div class="col-12 text-center mb-4">
            <%= image_tag 'no_image', size: "300x200" %>
          </div>
        <% end %>

        <div class="col-11 mx-auto mb-3 pr-5">
          <% if @user.user_image.attached? %>
            <%= image_tag @user.user_image.variant(resize_to_fill: [40, 40]).processed,
            class: "rounded-circle mx-2" %>
          <% else %>
            <%= image_tag 'user', class: "rounded-circle mx-2", size: "40x40" %>
          <% end %>
          <%= @user.name %>
        </div>

        <div class="col-11 mx-auto mb-3">
          <p class="post-heading">投稿者コメント</p>
          <div class="post-contents">
            <%= safe_join(@post.body.split("\r"),tag(:br)) %>
          </div>
        </div>

        <div class="col-11 mx-auto mb-3">
          <p class="post-heading">おすすめ時間帯</p>
          <div class="post-contents">
            <%= safe_join(@post.time_zone.split("\r"),tag(:br)) %>
          </div>
        </div>

        <div class="col-11 mx-auto mb-3">
          <p class="post-heading">周辺のおすすめスポット</p>
          <div class="post-contents">
            <%= safe_join(@post.spot.split("\r"),tag(:br)) %>
          </div>
        </div>

        <div class="col-11 mx-auto text-right mb-4">
          <div class="bookmark_buttons_<%= @post.id %>">
            <%= render partial: 'public/bookmarks/bookmark', locals: { post: @post} %>
          </div>
        </div>

        <div class="col-11 mx-auto mb-3">
          <div id="map" style="height:300px; width:100%;"></div>
        </div>

        <div class="col-11 mx-auto mb-3 text-right">
          <% if @post.user_id == current_user.id %>
            <p class="message">
              <%= link_to '投稿を編集', edit_post_path(@post.id) %>
            </p>
          <% end %>
        </div>

        <div class="col-11 mx-auto mb-3">
          <% if @comments.present? %>
            <p class="my-3">
              コメント一覧
              <small>（全 <%= @comments.count %> 件）</small>
            </p>
            <% @comments.each do |comment| %>
              <div class="row comment-box mx-auto py-2">
                <p class="col-12"><%= comment.text %></p>
                <p class="col-4 text-right"><%= comment.user.name %></p>
                <p class="col-6 text-right"><%= comment.created_at.strftime('%Y/%m/%d %H:%M') %></p>
                <div class="good_buttons_<%= comment.id %> col-2 text-right">
                  <%= render partial: 'public/goods/good', locals: { post: @post, comment: comment } %>
                </div>
                <p class="col-12 text-right" style="font-size:0.7rem">
                  <% if comment.user_id = current_user.id %>
                    <%= link_to 'コメントを削除', post_comment_path(@post.id, comment.id), method: :delete,
                    data: {confirm: "削除したコメントは元に戻せません。本当にこのコメントを削除しますか？"} %>
                  <% end %>
                </p>
              </div>
            <% end %>
          <% else %>
            <p>
              コメント一覧
              <small>（全 0 件）</small>
            </p>
            <p class="message my-2">この投稿へのコメントはありません</p>
          <% end %>
        </div>

        <div class="col-11 mx-auto mb-3">
          <p class="my-3">
            コメントを投稿
          </p>

          <% if user_signed_in? %>
            <%= form_with model: @new_comment, url: post_comments_path(@post.id), method: :post do |f| %>
              <div class="input-group-sm">
                <%= f.text_area :text, class: "form-control mb-2" %>
                <%= f.submit 'コメントを投稿', class: "btn btn-sm btn-secondary mb-2 px-3" %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>

<%= javascript_pack_tag 'show' %>