<div class="container">
  <div class="row">
    <div class="col-10 mx-auto my-5">
      <h4>投稿詳細ページ</h4>
    </div>
    <div class="col-10 mx-auto my-4">
      <p>
        <span id="startStationName"></span>　駅～
        <span id="endStationName"></span>　駅間
      </p>
      路線名：　<p id="LineName"></p>

      <input type="hidden" id="startStationCord" value="<%= @post.start_station %>">
      <input type="hidden" id="endStationCord" value="<%= @post.end_station %>">
      <input type="hidden" id="LineCord" value="<%= @post.line_code %>">

      <p>画像</p>
      <% if @post.post_image.attached? %>
        <%= image_tag @post.post_image, size: "300x200" %>
      <% else %>
        <%= image_tag 'no_image', size: "230x200" %>
      <% end %>

      <p>投稿者</p>
      <p><%= @user.name %></p>

      <p>投稿者コメント</p>
      <p><%= @post.body %></p>

      <p>おすすめ時間帯</p>
      <p><%= @post.time_zone %></p>

      <p>周辺のおすすめスポット</p>
      <p><%= @post.spot %></p>

      <div class="bookmark_buttons_<%= @post.id %>">
        <%= render partial: 'public/bookmarks/bookmark', locals: { post: @post} %>
      </div>

      <% if @post.user_id == current_user.id %>
        <%= link_to '投稿を編集', edit_post_path(@post.id) %>
      <% end %>

      <div id="map" class="my-4" style="height:500px; width:500px;"></div>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'show' %>