<div class="container">
  <div class="row">
    <div class="col-lg-10 col-md-10 col-10 mx-auto bg-light my-5 pt-5"
    style="max-width: 500px;">
      <div class="row selected-section mb-3">
        <p class="col-5 station-name text-center">
          <span id="startStationName"></span>　駅
        </p>
        <p class="col-2 text-center">↔</p>
        <p class="col-5 station-name text-center">
          <span id="endStationName"></span>　駅
        </p>
        <p class="col-12 line-name text-center">
          <span id="LineName"></span>
        </p>
      </div>

      <div class="row">
        <input type="hidden" id="startStationCord" value="<%= @post.start_station %>">
        <input type="hidden" id="endStationCord" value="<%= @post.end_station %>">
        <input type="hidden" id="LineCord" value="<%= @post.line_code %>">

        <div class="col-12 text-center mb-3">
          <% if @post.post_image.attached? %>
            <%= image_tag @post.post_image.variant(resize_to_fill: [300, 200]).processed %>
          <% else %>
            <%= image_tag 'no_image', size: "300x200" %>
          <% end %>
        </div>

        <div class="col-11 mx-auto mb-3 pr-5">
          <% if @user.user_image.attached? %>
            <%= image_tag @user.user_image.variant(resize_to_fill: [40, 40]).processed,
            class: "rounded-circle mx-2" %>
          <% else %>
            <%= image_tag 'user', class: "rounded-circle mx-2", size: "40x40" %>
          <% end %>
          <%= @user.name %>
        </div>

        <div class="col-11 mx-auto mb-3">
          <p class="post-heading">投稿者コメント</p>
          <div class="post-contents">
            <%= @post.body %>
          </div>
        </div>

        <div class="col-11 mx-auto mb-3">
          <p class="post-heading">おすすめ時間帯</p>
          <div class="post-contents">
            <%= @post.time_zone %>
          </div>
        </div>

        <div class="col-11 mx-auto mb-3">
          <p class="post-heading">周辺のおすすめスポット</p>
          <div class="post-contents">
            <%= @post.spot %>
          </div>
        </div>

        <div class="col-11 mx-auto text-right mb-4">
          <div class="bookmark_buttons_<%= @post.id %>">
            <%= render partial: 'public/bookmarks/bookmark', locals: { post: @post} %>
          </div>
        </div>

        <div class="col-11 mx-auto mb-3">
          <div id="map" style="height:300px; width:100%;"></div>
        </div>

        <div class="col-11 mx-auto mb-3 text-right">
          <% if @post.user_id == current_user.id %>
            <p class="message">
              <%= link_to '投稿を編集', edit_post_path(@post.id) %>
            </p>
          <% end %>
        </div>

        <div class="col-11 mx-auto mb-3">
          <% if @comments.present? %>
            <p class="my-3">
              コメント一覧
              <small>（全 <%= @comments.count %> 件）</small>
            </p>
            <% @comments.each do |comment| %>
              <div class="row comment-box mx-auto py-2">
                <p class="col-12"><%= comment.text %></p>
                <p class="col-4 text-right"><%= comment.user.name %></p>
                <p class="col-6 text-right"><%= comment.created_at.strftime('%Y/%m/%d %H:%M') %></p>
                <p class="col-2 text-right"></p>
                <p class="col-12 text-right" style="font-size:0.7rem">
                  <% if comment.user_id = current_user.id %>
                    <%= link_to 'コメントを削除', post_comment_path(@post.id, comment.id), method: :delete,
                    data: {confirm: "削除したコメントは元に戻せません。本当にこのコメントを削除しますか？"} %>
                  <% end %>
                </p>
              </div>
            <% end %>
          <% else %>
            <p>
              コメント一覧
              <small>（全 0 件）</small>
            </p>
            <p class="message my-2">この投稿へのコメントはありません</p>
          <% end %>
        </div>

        <div class="col-11 mx-auto mb-3">
          <p class="my-3">
            コメントを投稿
          </p>

          <% if user_signed_in? %>
            <%= form_with model: @comment, url: post_comments_path(@post.id), method: :post do |f| %>
              <div class="input-group-sm">
                <%= f.text_area :text, class: "form-control mb-2" %>
                <%= f.submit 'コメントを投稿', class: "btn btn-sm btn-secondary mb-2 px-3" %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>

<%= javascript_pack_tag 'show' %>