<div class="container-fluid top">
  <div class="row">

    <div class="col-12 top-image">


      <div class="row swiper-container-cover text-center my-5">
        <div class="col-12 swiper-container">
          <ul class="swiper-wrapper">
            <li class="swiper-slide">
              <div class="frame"><%= image_tag 'slide1' %></div>
            </li>
            <li class="swiper-slide">
              <div class="frame"><%= image_tag 'slide2' %></div>
            </li>
            <li class="swiper-slide">
              <div class="frame"><%= image_tag 'slide3' %></div>
            </li>
            <li class="swiper-slide">
              <div class="frame"><%= image_tag 'slide4' %></div>
            </li>
            <li class="swiper-slide">
              <div class="frame"><%= image_tag 'slide5' %></div>
            </li>
            <li class="swiper-slide">
              <div class="frame"><%= image_tag 'slide6' %></div>
            </li>
          </ul>
        </div>
      </div>

      <div class="my-5 text-center">
        <h4 class="px-4">
           心ときめく「車窓」を、探しにいこう。
        </h4>
      </div>

      <div class="row mx-auto text-center" style="max-width: 450px;">
        <span class="col-12 px-1 mb-3">
          <%= link_to '投稿をさがす', posts_path,
          class: "btn btn-light mx-1" %>
        </span>
        <span class="col-6 px-1">
          <%= link_to 'ログイン', new_user_session_path,
          class: "btn btn-main mx-1" %>
        </span>
        <span class="col-6 px-1">
          <%= link_to '新規登録', new_user_registration_path,
          class: "btn btn-accent mx-1" %>
        </span>
      </div>
    </div>

  </div>
</div>

<%= javascript_pack_tag 'top' %>
