<div class="container-fluid top">
  <div class="row">

    <div class="col-12 top-image pt-5">
      <div class="frame">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="slide-img slide1"></div>
            </div>
            <div class="swiper-slide">
              <div class="slide-img slide2"></div>
            </div>
            <div class="swiper-slide">
              <div class="slide-img slide3"></div>
            </div>
            <div class="swiper-slide">
              <div class="slide-img slide4"></div>
            </div>
            <div class="swiper-slide">
              <div class="slide-img slide5"></div>
            </div>
            <div class="swiper-slide">
              <div class="slide-img slide6"></div>
            </div>
          </div>
        </div>
      </div>


      <div class="my-5 text-center">
        <h4 class="px-4">
           心ときめく「車窓」を、探しにいこう。
        </h4>
      </div>

      <div class="row mx-auto text-center mb-5" style="max-width: 450px;">
        <span class="col-12 px-1 mb-3">
          <%= link_to '投稿をさがす', posts_path,
          class: "btn btn-light mx-1" %>
        </span>
        <% if user_signed_in? %>
          <span class="col-12 px-1 mb-3">
            <%= link_to '投稿する', posts_path,
            class: "btn btn-accent mx-1" %>
          </span>
        <% else %>
          <span class="col-6 px-1">
            <%= link_to 'ログイン', new_user_session_path,
            class: "btn btn-main mx-1" %>
          </span>
          <span class="col-6 px-1">
            <%= link_to '新規登録', new_user_registration_path,
            class: "btn btn-accent mx-1" %>
          </span>
        <% end %>
      </div>
    </div>

    <div class="col-sm-10 col-11 mx-auto top-caption mt-5" style="max-width: 1000px;">
      <div class="row top-caption-main">
        <div class="col-lg-5 col-md-6 col-11 top-caption-text px-0">
          <h4 class="py-4">
            ふと顔を上げた時、</br>
            車窓の向こうに広がる景色に</br>
            思いがけず心を奪われる。
          </h4>
        </div>
        <div class="col-lg-7 col-md-6 col-12 top-caption-image"></div>
      </div>

      <div class="row top-caption-sub">
        <div class="col-sm-10 col-11 top-caption-comment py-5">
          <div class="row">
            <p class="col-10 mx-auto py-4">そんな経験がありませんか？</p>
            <p class="col-10 mx-auto py-2">心ときめく "車窓" との出会いは、いつも突然で、偶然です。</p>
            <p class="col-10 mx-auto py-2">車窓.comは、あなたの素敵な "車窓" との出会いを応援します。</p>
            <p class="col-10 mx-auto py-2">日常の中に隠れたときめきを、探しにいきましょう。</p>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

<%= javascript_pack_tag 'top' %>
