<div class="container-fluid top">
  <div class="row">

    <div class="col-12 top-image pt-5">
      <div class="frame">
        <div class="swiper-container slider1">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="slide-img slide1"></div>
            </div>
            <div class="swiper-slide">
              <div class="slide-img slide2"></div>
            </div>
            <div class="swiper-slide">
              <div class="slide-img slide3"></div>
            </div>
            <div class="swiper-slide">
              <div class="slide-img slide4"></div>
            </div>
            <div class="swiper-slide">
              <div class="slide-img slide5"></div>
            </div>
            <div class="swiper-slide">
              <div class="slide-img slide6"></div>
            </div>
          </div>
        </div>
      </div>


      <div class="my-5 text-center">
        <h4 class="px-4">
           心ときめく「車窓」を、探しにいこう。
        </h4>
      </div>

      <div class="row mx-auto text-center mb-5" style="max-width: 450px;">
        <span class="col-12 px-1 mb-3">
          <%= link_to '投稿をさがす', posts_path,
          class: "btn btn-light mx-1" %>
        </span>
        <% if user_signed_in? %>
          <span class="col-12 px-1 mb-3">
            <%= link_to '投稿する', posts_path,
            class: "btn btn-accent mx-1" %>
          </span>
        <% else %>
          <span class="col-6 px-1">
            <%= link_to 'ログイン', new_user_session_path,
            class: "btn btn-main mx-1" %>
          </span>
          <span class="col-6 px-1">
            <%= link_to '新規登録', new_user_registration_path,
            class: "btn btn-accent mx-1" %>
          </span>
        <% end %>
      </div>
    </div>

    <div class="col-sm-10 col-11 mx-auto top-caption mt-5" style="max-width: 1000px;">
      <div class="row top-caption-main">
        <div class="col-lg-5 col-md-6 col-11 top-caption-text px-0">
          <h4 class="py-4">
            ふと顔を上げた時、</br>
            車窓の向こうに広がる景色に</br>
            思いがけず心を奪われる。
          </h4>
        </div>
        <div class="col-lg-7 col-md-6 col-12 top-caption-image"></div>
      </div>

      <div class="row top-caption-sub mb-5">
        <div class="col-sm-10 col-11 top-caption-comment py-5">
          <div class="row">
            <p class="col-10 mx-auto py-4">そんな経験がありませんか？</p>
            <p class="col-10 mx-auto py-2">心ときめく "車窓" との出会いは、いつも突然で、偶然です。</p>
            <p class="col-10 mx-auto py-2">車窓.comは、あなたの素敵な "車窓" との出会いを応援します。</p>
            <p class="col-10 mx-auto py-2">日常の中に隠れたときめきを、探しにいきましょう。</p>
          </div>
        </div>
      </div>
    </div>

    <div class="top-heading col-md-10 col-12 mx-auto mt-5">
      <h2 class="text-center">Popular Posts</h2>
      <h6 class="text-center mt-3">人気の投稿</h6>
    </div>

    <div class="swiper-container-cover slider-cover2 col-12 mx-auto mb-3 px-0">
        <div class="swiper-container slider2">
          <div class="swiper-wrapper">
            <% @popular_posts.each do |post| %>
              <div class="swiper-slide post-card text-center">
                <%= link_to post_path(post.id), class: "" do %>
                  <div class="">
                    <p class="body">
                      <%= safe_join(post.body.split("\r"),tag(:br)) %>
                    </p>
                    <p class="caption">
                      <% start_station_prefecture = Prefecture.find(post.start_station_prefecture) %>
                      <span><%= start_station_prefecture.name %></span>
                      <% if post.start_station_prefecture != post.end_station_prefecture %>
                        <% end_station_prefecture = Prefecture.find(post.end_station_prefecture) %>
                        <span><%= end_station_prefecture.name %></span>
                      <% end %>
                      <%= post.line_name %>
                    </p>
                    <p class="section">
                      <%= post.start_station_name %>駅
                      －
                      <%= post.end_station_name %>駅
                    </p>
                    <div class="post-image">
                      <% if post.post_images.attached? %>
                        <% if post.post_images.length == 1 %>
                          <%= image_tag post.post_images[0].variant(resize_to_fill: [240, 160]).processed %>
                        <% elsif post.post_images.length == 2 %>
                          <%= image_tag post.post_images[0].variant(resize_to_fill: [120, 160]).processed %>
                          <%= image_tag post.post_images[1].variant(resize_to_fill: [120, 160]).processed %>
                        <% elsif post.post_images.length == 3 %>
                          <%= image_tag post.post_images[0].variant(resize_to_fill: [240, 80]).processed %>
                          <%= image_tag post.post_images[1].variant(resize_to_fill: [119, 80]).processed %>
                          <%= image_tag post.post_images[2].variant(resize_to_fill: [119, 80]).processed %>
                        <% else %>
                          <%= image_tag post.post_images[0].variant(resize_to_fill: [119, 80]).processed %>
                          <%= image_tag post.post_images[1].variant(resize_to_fill: [119, 80]).processed %>
                          <%= image_tag post.post_images[2].variant(resize_to_fill: [119, 80]).processed %>
                          <%= image_tag post.post_images[3].variant(resize_to_fill: [119, 80]).processed %>
                        <% end %>
                      <% else %>
                        <%= image_tag 'no_image', size: "240x160" %>
                      <% end %>
                    </div>
                    <div class="bookmark_buttons_<%= post.id %> text-right px-0 star">
                      <%= render partial: 'public/bookmarks/bookmark', locals: { post: post} %>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
          <div class="swiper-pagination"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>

    <div class="col-12 text-center">
      <%= link_to '他の投稿をさがす', posts_path,
      class: "px-5 mb-3 btn btn-accent posts-button" %>
    </div>

    <div class="top-heading col-md-10 col-12 mx-auto mt-5">
      <h2 class="text-center">New Posts</h2>
      <h6 class="text-center mt-3">新着</h6>
    </div>

    <div class="swiper-container-cover slider-cover3 col-12 mx-auto mb-3 px-0">
        <div class="swiper-container slider3">
          <div class="swiper-wrapper">
            <% @new_posts.each do |post| %>
              <div class="swiper-slide post-card text-center">
                <%= link_to post_path(post.id), class: "" do %>
                  <div class="">
                    <p class="body">
                      <%= safe_join(post.body.split("\r"),tag(:br)) %>
                    </p>
                    <p class="caption">
                      <% start_station_prefecture = Prefecture.find(post.start_station_prefecture) %>
                      <span><%= start_station_prefecture.name %></span>
                      <% if post.start_station_prefecture != post.end_station_prefecture %>
                        <% end_station_prefecture = Prefecture.find(post.end_station_prefecture) %>
                        <span><%= end_station_prefecture.name %></span>
                      <% end %>
                      <%= post.line_name %>
                    </p>
                    <p class="section">
                      <%= post.start_station_name %>駅
                      －
                      <%= post.end_station_name %>駅
                    </p>
                    <div class="post-image">
                      <% if post.post_images.attached? %>
                        <% if post.post_images.length == 1 %>
                          <%= image_tag post.post_images[0].variant(resize_to_fill: [240, 160]).processed %>
                        <% elsif post.post_images.length == 2 %>
                          <%= image_tag post.post_images[0].variant(resize_to_fill: [120, 160]).processed %>
                          <%= image_tag post.post_images[1].variant(resize_to_fill: [120, 160]).processed %>
                        <% elsif post.post_images.length == 3 %>
                          <%= image_tag post.post_images[0].variant(resize_to_fill: [240, 80]).processed %>
                          <%= image_tag post.post_images[1].variant(resize_to_fill: [119, 80]).processed %>
                          <%= image_tag post.post_images[2].variant(resize_to_fill: [119, 80]).processed %>
                        <% else %>
                          <%= image_tag post.post_images[0].variant(resize_to_fill: [119, 80]).processed %>
                          <%= image_tag post.post_images[1].variant(resize_to_fill: [119, 80]).processed %>
                          <%= image_tag post.post_images[2].variant(resize_to_fill: [119, 80]).processed %>
                          <%= image_tag post.post_images[3].variant(resize_to_fill: [119, 80]).processed %>
                        <% end %>
                      <% else %>
                        <%= image_tag 'no_image', size: "240x160" %>
                      <% end %>
                    </div>
                    <div class="bookmark_buttons_<%= post.id %> text-right px-0 star">
                      <%= render partial: 'public/bookmarks/bookmark', locals: { post: post} %>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
          <div class="swiper-pagination"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>

    <div class="col-12 text-center">
      <%= link_to '他の投稿をさがす', posts_path,
      class: "px-5 mb-3 btn btn-accent posts-button" %>
    </div>

    <div class="top-heading your-post col-12 mt-5 pt-5">
      <h2 class="text-center">Your Post</h2>
      <h6 class="text-center mt-3">あなたの車窓を投稿しましょう</h6>

      <div class="col-lg-4 mx-auto text-center my-5">
        <%= link_to '投稿画面へ', new_post_path,
        class: "col-12 mb-3 btn btn-main posts-button" %>
        <%= link_to '過去の投稿はこちら', users_posts_path,
        class: "col-12 mb-3 btn btn-light posts-button" %>
      </div>
    </div>



  </div>
</div>

<%= javascript_pack_tag 'top' %>
