<div class="container-fluid admin">
  <div class="row">
    <div class="post-container col-md-11 col-sm-10 col-11 mx-auto mb-3 text-center">
      <h5 class="heading mt-5 mb-4">
        管理者さん、ようこそ
      </h5>
      <div class="row col-lg-6 col-md-7 col-sm-10 col-12 mx-auto mb-5 px-0">
        <h6 class="col-6 my-2">
          <%= link_to '投稿一覧をみる', admin_posts_path %>
        </h6>
        <h6 class="col-6 my-2">
          <%= link_to 'ユーザ一覧をみる', admin_users_path %>
        </h6>
      </div>

      <div id="tab-menu" class="col-12 mt-4">
        <a href="#tab1" class="active mx-2">
          人気の投稿
        </a>
        <span>|</span>
        <a href="#tab2" class="mx-2">
          最新の投稿
        </a>
      </div>

      <div id="tab-contents" class="col-md-11 col-sm-8 col-11 mx-auto mb-4 px-0">
        <div id="tab1" class="tab px-0">
          <p class="text-center mt-1 mb-3">
            <small>（上位 6 件）</small>
          </p>
          <%= render partial: 'admin/posts/tab', locals: { posts: @popular_posts} %>
        </div>
        <div id="tab2" class="tab px-0">
          <p class="text-center mt-1 mb-3">
            <small>（新着 6 件）</small>
          </p>
          <%= render partial: 'admin/posts/tab', locals: { posts: @new_posts} %>
        </div>
      </div>

    </div>
  </div>
</div>

<%= javascript_pack_tag 'tab' %>
