<div class="container-fluid admin">
  <div class="row mx-auto pb-5" style="max-width:1200px">
    <div class="map-container col-lg-3 col-11 mx-auto mt-4">
      <h5 class="my-4 text-center">エリアからさがす</h5>
      <div class="area_list row px-3 text-center">
        <div class="col-lg-12 col-sm-2 col-4 mx-auto mb-3">
          <%= link_to '北海道', admin_search_area_path(1) %>
        </div>
        <div class="col-lg-12 col-sm-2 col-4 mx-auto mb-3">
          <%= link_to '東北', admin_search_area_path(2) %>
        </div>
        <div class="col-lg-12 col-sm-2 col-4 mx-auto mb-3">
          <%= link_to '関東', admin_search_area_path(3) %>
        </div>
        <div class="col-lg-12 col-sm-5 col-8 mx-auto mb-3">
          <%= link_to '中央・北陸・東海', admin_search_area_path(4) %>
        </div>
        <div class="col-lg-12 col-sm-2 col-4 mx-auto mb-3">
          <%= link_to '近畿', admin_search_area_path(5) %>
        </div>
        <div class="col-lg-12 col-sm-2 col-3 mx-auto mb-3">
          <%= link_to '中国', admin_search_area_path(6) %>
        </div>
        <div class="col-lg-12 col-sm-2 col-3 mx-auto mb-3">
          <%= link_to '四国', admin_search_area_path(7) %>
        </div>
        <div class="col-lg-12 col-sm-5 col-6 mx-auto mb-3">
          <%= link_to '九州・沖縄', admin_search_area_path(8) %>
        </div>
      </div>
    </div>

    <div class="map-container col-lg-8 col-11 mx-auto mt-4 pb-3">
      <h5 class="my-4 text-center">路線図からさがす</h5>
      <div id="map" style="height: 650px; max-height: calc(100vh - 200px); width:100%;"></div>
    </div>
    <div>
      <div id="mapPosts" data-posts="<%= @map_posts.to_json %>"></div>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'indexAdmin' %>
