<div class="container-fluid admin">
  <div class="row">
    <div class="post-container col-md-11 col-sm-10 col-11 mx-auto mb-3 text-center">
      <div class="col-12 mt-3 pl-3 text-left">
        <%= link_to admin_posts_path do %>
          <small>
            <i class="fas fa-arrow-left mr-1"></i>
            一覧に戻る
          </small>
        <% end %>
      </div>
      <h5 class="heading mt-3">
        <%= @area_name %> エリア の投稿一覧
      </h5>

      <div class="row mt-0 pt-0">
        <div class="col-12">
    　　    <% if @area_name != "北海道" %>
            <h6 class="mb-3">都道府県でさがす</h6>
            <% @prefectures.each do |prefecture| %>
              <%= link_to admin_search_prefecture_path(prefecture.id),
              class: "prefecture-list mx-2" do %>
                <%= prefecture.name %>
              <% end %>
            <% end %>
          <% end %>
        </div>

        <div id="tab-menu" class="col-12 mt-4">
          <a href="#tab1" class="active mx-2">人気順</a>
          <span>|</span>
          <a href="#tab2" class="mx-2">新着順</a>
        </div>

        <div id="tab-contents" class="col-md-11 col-sm-8 col-10 mx-auto mt-4 px-0">
          <div id="tab1" class="tab px-0">
            <%= render partial: 'tab', locals: { posts: @popular_posts} %>
          </div>
          <div id="tab2" class="tab px-0">
            <%= render partial: 'tab', locals: { posts: @new_posts} %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<%= javascript_pack_tag 'tab' %>