<div class="container-fluid public">
  <div class="row mx-auto" style="max-width:600px">
    <div class="input-container col-sm-10 col-11 mx-auto my-5 py-4">

      <div class="row selected-section mb-3">
        <p class="col-12 station-name text-center">
          <%= @post.start_station_name %>駅
          <span class="mx-2">↔</span>
          <%= @post.end_station_name %>駅
        </p>
        <p class="col-12 line-name text-center">
          <%= @post.line_name %>
        </p>
      </div>

      <div class="row">
        <input type="hidden" id="startStationCord" value="<%= @post.start_station %>">
        <input type="hidden" id="endStationCord" value="<%= @post.end_station %>">
        <input type="hidden" id="LineCord" value="<%= @post.line_code %>">

        <% if @post.post_images.attached? %>
          <% if @post.post_images.length != 1 %>
            <div class="col-12 post-slide px-0">
              <div class="row swiper-container-cover text-center mb-5">
                <div class="col-12 swiper-container">
                  <ul class="swiper-wrapper">
                    <% @post.post_images.each do |image| %>
                      <li class="swiper-slide"><%= image_tag image.variant(resize_to_fill: [300, 200]).processed %></li>
                    <% end %>
                  </ul>
                  <div class="swiper-button-prev"></div>
                  <div class="swiper-button-next"></div>
                </div>
                <div class="col-12 swiper-pagination text-center px-0"></div>
              </div>
            </div>
          <% else %>
            <div class="col-12 text-center mb-4 px-0">
              <% @post.post_images.each do |image| %>
                <%= image_tag image.variant(resize_to_fill: [300, 200]).processed %>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <div class="col-12 text-center mb-4 px-0">
            <%= image_tag 'no_image', size: "300x200" %>
          </div>
        <% end %>

        <div class="col-sm-11 col-12 mx-auto mb-3 pr-5">
          <%= link_to admin_user_posts_path(@user.id) do %>
            <% if @user.user_image.attached? %>
              <%= image_tag @user.user_image.variant(resize_to_fill: [40, 40]).processed,
              class: "rounded-circle mx-2" %>
            <% else %>
              <%= image_tag 'user', class: "rounded-circle mx-2", size: "40x40" %>
            <% end %>
            <%= @user.name %>
          <% end %>
        </div>

        <div class="col-sm-11 col-12 mx-auto mb-3">
          <p class="post-heading">投稿者コメント</p>
          <div class="post-contents">
            <%= safe_join(@post.body.split("\r"),tag(:br)) %>
          </div>
        </div>

        <div class="col-sm-11 col-12 mx-auto mb-3">
          <p class="post-heading">おすすめ時間帯</p>
          <div class="post-contents">
            <%= safe_join(@post.time_zone.split("\r"),tag(:br)) %>
          </div>
        </div>

        <div class="col-sm-11 col-12 mx-auto mb-3">
          <p class="post-heading">周辺のおすすめスポット</p>
          <div class="post-contents">
            <%= safe_join(@post.spot.split("\r"),tag(:br)) %>
          </div>
        </div>

        <div class="col-sm-11 col-12 mx-auto mb-4 text-right">
          <p class="date">
            <i class="fas fa-map-marker-alt mr-1"></i>
            <%= @post.created_at.strftime('%Y/%m/%d %H:%M') %>
            <i class="far fa-edit ml-3 mr-1"></i>
            <%= @post.updated_at.strftime('%Y/%m/%d %H:%M') %>
          </p>
        </div>

        <div class="col-sm-11 col-12 mx-auto mb-4 text-right">
          <div class="bookmark_buttons_<%= @post.id %>">
            <%= render partial: 'public/bookmarks/bookmark', locals: { post: @post} %>
          </div>
        </div>

        <div class="col-sm-11 col-12 mx-auto mb-3">
          <div id="map" style="height:300px; width:100%;"></div>
        </div>

        <div class="col-sm-11 col-12 mx-auto mb-3 text-right">
            <p class="message">
              <%= link_to admin_post_path(@post.id), method: :delete,
              data: { confirm: "削除した投稿は元に戻せません。本当に削除しますか？" } do %>
                <i class="fas fa-trash-alt"></i>
                この投稿を削除
              <% end %>
            </p>
        </div>

        <div class="col-sm-11 col-12 mx-auto mb-3">
          <% if @comments.present? %>
            <p class="py-3" style="border-bottom: 1px solid #a9a9a9;">
              コメント一覧
              <small>（全 <%= @comments.count %> 件）</small>
            </p>
            <% @comments.each do |comment| %>
              <div class="row comment-box mx-auto py-2">
                <p class="col-12 mb-2"><%= safe_join(comment.text.split("\r"),tag(:br)) %></p>
                <p class="col-4 text-right px-0"><%= comment.user.name %></p>
                <p class="col-6 text-right px-0" style="font-size:0.7rem; padding-top:2px;">
                  <%= comment.created_at.strftime('%Y/%m/%d %H:%M') %>
                </p>
                <div class="good_buttons_<%= comment.id %> col-2 text-right px-0">
                  <%= render partial: 'public/goods/good', locals: { post: @post, comment: comment } %>
                </div>
                <p class="col-12 text-right" style="font-size:0.7rem">
                  <%= link_to 'コメントを削除', admin_post_comment_path(@post.id, comment.id), method: :delete,
                  data: {confirm: "削除したコメントは元に戻せません。本当にこのコメントを削除しますか？"} %>
                </p>
              </div>
            <% end %>
          <% else %>
            <p>
              コメント一覧
              <small>（全 0 件）</small>
            </p>
            <p class="message my-2">この投稿へのコメントはありません</p>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>

<%= javascript_pack_tag 'show' %>
