 <% if user_signed_in? %>
  <% if comment.gooded_by?(current_user) %>
    <p>
      <%= link_to post_comment_goods_path(post_id: post.id, comment_id: comment.id),
      method: :delete, remote: true do %>
        <i class="fas fa-heart" style="color: #db7093;"></i>
        <%= comment.goods.count %>
      <% end %>
    </p>
  <% else %>
    <p>
      <%= link_to post_comment_goods_path(post_id: post.id, comment_id: comment.id),
      method: :post, remote: true do %>
        <i class="fas fa-heart" style="color: #a9a9a9;"></i>
        <%= comment.goods.count %>
      <% end %>
    </p>
  <% end %>
<% else %>
  <p>
    <a href="javascript:void(0)" class="modal-open">
      <i class="fas fa-heart" style="color: #a9a9a9;"></i>
      <%= comment.goods.count %>
    </a>
  </p>
<% end %>