<div class="container-fluid admin">
  <div class="row">
    <div class="post-container col-sm-10 col-11 mx-auto mb-3">
      <h5 class="heading mt-5 mb-3">
        <%= @user.name %> さんの フォロワー
      </h5>

      <div class="row mb-3 pt-0">
        <div class="col-12 my-3 text-center">
          <%= link_to 'ユーザページへ', admin_user_path(@user) %>
        </div>

        <div class="col-10 mx-auto mb-4 px-0">
          <% if @all_users.present? %>
            <% @all_users.each do |user| %>
              <div class="row my-4 mx-auto d-flex align-items-center">
                <%= link_to admin_user_path(user.id), class: "col-md-7 col-sm-8 col-12 px-0" do %>
                  <% if user.user_image.attached? %>
                    <%= image_tag user.user_image.variant(resize_to_fill: [50, 50]).processed,
                    class: "rounded-circle mr-3" %>
                  <% else %>
                    <%= image_tag 'user', class: "rounded-circle mr-3", size: "50x50" %>
                  <% end %>
                  <p class="d-inline-block mb-0 px-0"><%= user.name %></p>
                <% end %>
                <div class="col-md-5 col-sm-4 col-10 px-0 text-center">
                  <%= link_to '投稿一覧', admin_user_posts_path(user) %>
                </div>
              </div>
            <% end %>
          <% else %>
            <p class="my-4 text-center">フォロワーがいません</p>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>