<div class="container-fluid admin">
  <div class="row mx-auto">
    <div class="post-container col-md-10 col-12 mx-auto mb-3">
      <h5 class="my-5 text-center">
        ユーザ一覧
      </h5>

      <div class="row pt-0 mt-0 my-3">
        <div class="col-11 mx-auto mb-3 px-0">
          <% if @all_users.present? %>
            <table class="table table-hover text-center">
              <thead>
                <th>ID</th>
                <th>ニックネーム</th>
                <th class="low-priority">メールアドレス</th>
                <th>ステータス</th>
                <th class="low-priority"></th>
              </thead>
              <tbody>
                <% @all_users.each do |user| %>
                <tr>
                  <td><%= user.id %></td>
                  <td>
                    <%= link_to admin_user_path(user.id) do %>
                      <%= user.name %>
                    <% end %>
                  </td>
                  <td class="low-priority"><%= user.email %></td>
                  <td>
                    <% if user.is_deleted == true %>
                      <p class="text-secondary">退会</p>
                    <% else %>
                      <p class="text-success">有効</p>
                    <% end %>
                  </td>
                  <td class="low-priority">
                    <%= link_to '投稿', admin_user_posts_path(user.id) %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          <% else %>
            <p class="text-center">ユーザーがいません</p>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
