<!DOCTYPE html>
<html>
  <head>
    <title>SyasouCom</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://rmap.ekispert.jp/production/rosen.css" />
    <script src="https://rmap.ekispert.jp/production/rosen.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/css/swiper.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/js/swiper.js"></script>
  </head>

  <body class="d-flex flex-column">
    <div id="modal-overlay"> <%# モーダルウィンドウ:ゲストログイン用 %>
      <div id="modal-content" class="container">
        <div class="row px-0 text-center">
          <h6 class="col-12 my-4">ご利用にはログインが必要です</h6>
          <div class="col-12 px-0">
            <div class="row px-0">
              <p class="col-10 mx-auto"><small>会員登録がお済みの方</small></p>
              <a id="modal-login" class="btn btn-sm btn-main col-10 mx-auto mb-4">ログイン</a>
              <p class="col-10 mx-auto"><small>会員登録がお済みでない方</small></p>
              <a id="modal-signup" class="btn btn-sm btn-accent col-10 mx-auto mb-4">新規登録</a>
              <a id="modal-close" href="javascript:void(0)" class="col-12 text-center">
                <small>閉じる</small>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= link_to "", new_user_session_path, id: "logInBtn" %>
    <%= link_to "", new_user_registration_path, id: "signUpBtn" %>
    <div id="modal-new-overlay"> <%# モーダルウィンドウ:操作方法 %>
      <div id="modal-new-content" class="container">
        <div id="new-content" class="row px-0">
          <h6 class="col-12 my-4 text-center">区間選択のしかた</h6>
          <div class="col-sm-11 col-12 mx-auto px-0">
            <div class="row px-0">
              <h6 class="col-11 px-4">
                ① 投稿したい区間まで移動
              </h6>
              <p class="col-11 pl-5 mb-3">
                <strong>拡大/縮小：</strong>
                  スクロールボタン または ＋/－キー</br>
                <strong>移動：</strong>
                  左クリック＋ドラッグ または 方向キー</br>
              </p>
              <p class="col-11 pl-5">
                <u>マップ上の<strong>検索バー</strong>からも検索いただけます</br></u>
                <strong>マップ右上のボタンをクリック</strong>
                （検索バーが開きます）
              </p>
              <%= image_tag asset_path('search-btn'), size: "70x60", class: "ml-5 mb-3" %>
              <p class="col-11 pl-5">
                右上のボタンで検索方法を切替できます</br>
              </p>
              <div class="ml-5 mb-4 px-0">
                <%= image_tag asset_path('search-bar01'), size: "240x80" %>
                <%= image_tag asset_path('search-bar02'), size: "240x80" %>
              </div>
              <h6 class="col-11 px-4">
                ② 投稿したい区間をクリック
              </h6>
              <p class="col-11 pl-5">
                駅と駅の間にカーソルを合わせてクリックしてください。
              </p>
              <div class="ml-5 mb-2">
                <%= image_tag asset_path('section-click01'), size: "180x150", class: "mr-2 mb-2" %>
                <%= image_tag asset_path('section-click02'), size: "180x150", class: "mr-2 mb-2" %>
              </div>
              <p class="col-11 pl-5 mb-4">
                ※１件の投稿で選択できるのは１区間（隣り合う駅同士）のみです。</br>
                複数の区間にまたがった投稿はできません。
              </p>

              <h6 class="col-11 px-4">
                ③ 登録画面へ進む
              </h6>
              <p class="col-11 pl-5">
                「登録画面へ進む」ボタンを押して、詳細入力画面に進んでください。
              </p>
              <%= image_tag asset_path('btn03'), size: "175x60", class: "ml-5 mb-2" %>
              <p class="col-11 pl-5">
                <strong class="mt-3">ボタンが表示されない場合</strong></br>
                正しく選択されていません。もう一度やり直してください。
              </p>
              <%= image_tag asset_path('btn01'), size: "200x60", class: "ml-5 mb-2" %>
              <p class="col-11 pl-5">
                <strong class="my-3">選択を解除したい場合</strong></br>
                「選択を解除」ボタンをクリックしてください。
              </p>
              <%= image_tag asset_path('btn02'), size: "150x60", class: "ml-5 mb-2" %>
              <a id="modal-new-close" href="javascript:void(0)" class="col-12 mt-2 text-center">
                <small>閉じる</small>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="wrapper p-0 m-0">
      <header class="container-fluid">
        <h2 id="hm-logo"><%= link_to '車窓.com', root_path %></h2>
        <div id="sp-menu">
          <ul class="sp-list">
            <% if user_signed_in? %>
              <li class="mt-5 mb-4"><span>ようこそ、<%= current_user.name %> さん</span></li>
              <li class="my-5">
                <%= link_to posts_path do %>
                    Search <small>投稿をさがす</small>
                <% end %>
              </li>
              <li class="my-5">
                <%= link_to new_post_path do %>
                    Post <small>投稿する</small>
                <% end %>
              </li>
              <li class="my-5">
                <%= link_to users_mypage_path do %>
                    My Page <small>マイページ</small>
                <% end %>
              </li>
              <li class="my-5">
                <%= link_to destroy_user_session_path, method: :delete,
                data: { confirm: "ログアウトしますか？" } do %>
                    Log out <small>ログアウト</small>
                <% end %>
              </li>
            <% elsif admin_signed_in? %>
              <li class="mt-5 mb-4"><span>ようこそ、管理者 さん</span></li>
              <li class="my-5">
                <%= link_to admin_root_path do %>
                    Top <small>トップページ</small>
                <% end %>
              </li>
              <li class="my-5">
                <%= link_to admin_posts_path do %>
                    Posts <small>投稿一覧</small>
                <% end %>
              </li>
              <li class="my-5">
                <%= link_to admin_users_path do %>
                    Users <small>ユーザ一覧</small>
                <% end %>
              </li>
              <li class="my-5">
                <%= link_to destroy_admin_session_path, method: :delete,
                data: { confirm: "ログアウトしますか？" } do %>
                    Log out <small>ログアウト</small>
                <% end %>
              </li>
            <% else %>
              <li class="mt-5 mb-4"><span>ようこそ、ゲスト さん</span></li>
              <li class="my-5">
                <%= link_to new_user_session_path do %>
                    Log in <small>ログイン</small>
                <% end %>
              </li>
              <li class="my-5">
                <%= link_to new_user_registration_path do %>
                    Sign up <small>新規登録</small>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
        <div id="hm-icon">
          <a class="menu-trigger" href="#">
            <span class="stick"></span>
            <span class="stick"></span>
            <span class="stick"></span>
            <span class="menu">menu</span>
          </a>
        </div>
      </header>
      <main>
        <%= yield %>
      </main>
    </div>
    <footer class="text-center">
      <p class="my-3">© shasou.com</p>
    </footer>

    <%= javascript_pack_tag 'header' %>
  </body>
</html>
